<section class="content">
    <section class="resumo">
        <h2 class="titulo">Poker</h2>
        <p>O poker é um dos jogos de cartas mais populares do mundo, com uma história rica e fascinante, que muitos
            acreditam que o jogo tenha sido desenvolvido nos Estados Unidos no início do século XIX. Com o tempo, o jogo
            se espalhou para outras partes do mundo e se tornou um dos jogos de cartas mais jogados em cassinos e salas
            de jogos. O poker é um jogo de habilidade e estratégia, exigindo que os jogadores leiam os oponentes e usem
            a matemática para tomar decisões informadas.</p>
        <p>Se você está procurando melhorar suas habilidades no jogo de poker, o livro Truques e Dicas de Poker é um
            guia essencial. Escrito por um especialista no assunto, o livro oferece insights sobre como melhorar sua
            leitura de oponentes, gerenciar sua banca, identificar padrões de aposta e muito mais. Com exemplos práticos
            e exercícios, este livro é uma leitura obrigatória para jogadores de todos os níveis. Com Truques e Dicas de
            Poker, você pode levar suas habilidades de poker para o próximo nível e se tornar um jogador vencedor.</p>
    </section>
    <section class="jogo">
        <figure><img class="ilustracaoJogo" src="assets/Images/paginaPoker.jpeg" alt="pessoas jogando xadrez"></figure>
        <a class="btnJogar" href="https://www.pokerstars.com/pt-BR/" target="_blank">Clique aqui para jogar</a>
    </section>
</section>
<section class="relacionados">
    <h3>Lívros relacionados ao assunto:</h3>
    <div>
    </div>
</section>