<h2>Jogos</h2>
    <section class="section">
        <div class="grid">
            <div id="xadrez" routerLink="/xadrez"><p>Xadrez</p></div>
            <div id="damas" onclick="document.location='/damas'"><p>Damas</p></div>
            <div id="poker"  onclick="document.location='/poker'"><p>Poker</p></div>
            <div id="tictactoe" onclick="document.location='/jogoDaVelha'"><p>Jogo da velha</p></div>
        </div>
    </section>
    <!--<section class="secLoja">
        <h2>Livros</h2>
        <div>
            <table>
                <tr>
                  
                <tr>
                    
                
                </tr>
                <tr>
                    <td><img src="images/tictactome.jpg" alt="Livro Manual de damas" onclick="document.location='pages/formulario.html'"></td>
                    <td><img src="images/EstrategiasParaAprenderEstrategias.png" alt="Livro Jogo de damas" onclick="document.location='pages/formulario.html'"></td>
                </tr>
            </table>
        </div>
    </section>-->