<section class="content">
    <section class="resumo">
        <h2 class="titulo">Jogo da velha</h2>
        <p>Os jogos de estratégia têm uma longa história que remonta aos tempos antigos. O jogo da velha, por exemplo, é
            considerado um dos jogos mais antigos do mundo, com evidências de que ele já era jogado no antigo Egito</p>
        <p>Apesar de sua simplicidade, é um ótimo jogo para iniciar no mundo dos jogos de estratégia, além de ser o jogo
            perfeito para crianças e idosos uma vez que suas regras são fáceis de compreender.</p>
    </section>
    <section class="jogo">
        <h2 id="textoJogo">Vez de x</h2>
        <div class="tabuleiro" id="tabuleiro">
            <div class="linha">
                <div id="0" (click)="jogo(0)"></div>
                <div id="1" (click)="jogo(1)"></div>
                <div id="2" (click)="jogo(2)"></div>
            </div>
            <div class="linha">
                <div id="3" (click)="jogo(3)"></div>
                <div id="4" (click)="jogo(4)"></div>
                <div id="5" (click)="jogo(5)"></div>
            </div>
            <div class="linha">
                <div id="6" (click)="jogo(6)"></div>
                <div id="7" (click)="jogo(7)"></div>
                <div id="8" (click)="jogo(8)"></div>
            </div>
        </div>
        <p id="rodada">Rodada: 0</p>
        <div class="controle">
            <button id="modo" (click)="trocarModo()">Modo: multiplayer</button>
            <br>
            <button id="reiniciar" (click)="limpar()">Reiniciar</button>
        </div>
    </section>
</section>
<section class="relacionados">
    <h3>Lívros relacionados ao assunto:</h3>
    <div>
        <figure><img class="livro" routerLink="/formulario" src="assets\Images\livros\tictactome.jpg" alt="">
        </figure>
        <figure><img class="livro" routerLink="/formulario" src="assets\Images\livros\EstrategiasParaAprenderEstrategias.png" alt="">
        </figure>
    </div>
</section>