<section class="content">
    <section class="resumo">
        <h2 class="titulo">Damas</h2>
        <p>As damas é um jogo de estratégia que possui uma história rica e antiga. Embora sua origem seja incerta,
            muitos historiadores acreditam que as primeiras versões do jogo foram desenvolvidas há cerca de 2.000
            anos na Índia ou China. Com o passar do tempo, o jogo se popularizou em outras partes do mundo, como a
            Europa, onde adquiriu regras mais precisas e ampliou sua popularidade. Jogar damas pode ajudar a
            aprimorar habilidades como raciocínio lógico, concentração e tomada de decisões estratégicas.</p>
        <p>Para jogadores que desejam melhorar suas habilidades no jogo de damas, o livro "Estratégias Avançadas de
            Damas" é uma leitura obrigatória. Escrito por um especialista no jogo, o livro oferece dicas e truques
            para ajudar jogadores de todos os níveis a aprimorar seu jogo. Com explicações claras e exemplos
            práticos, este livro apresenta insights sobre como pensar à frente, posicionar suas peças de forma
            eficaz e identificar e explorar as fraquezas na defesa de seu oponente. Se você é um jogador experiente
            ou está apenas começando a aprender.</p>
        </section>
    <section class="jogo">
        <figure><img class="ilustracaoJogo" src="../../../assets/Images/paginaDamas.jpg" alt="pessoas jogando xadrez"></figure>
        <a class="btnJogar" href="https://www.chess.com" target="_blank">Clique aqui para jogar</a>
    </section>
    </section>
    <section class="relacionados">
        <p>Lívros relacionados ao assunto:</p>
        <div>
            <figure><img class="livro" onclick="document.location='formulario.html'" src="../images/aArteDaEstrategia.jpeg"
                    alt="">
            </figure>
            <figure><img class="livro" onclick="document.location='formulario.html'" src="../images/5334problemsChess.jpeg"
                    alt="">
            </figure>
        </div>
    </section>