<h2>Loja</h2>
<table  > 
    <tr>
        <th>
            <img routerLink="/formulario" src="assets\Images\livros\oGrandelivroDePoker.jpg" alt="">
        </th>
        <th>
            <img routerLink="/formulario" src="assets\Images\livros\5334problemsChess.jpeg" alt="">
        </th>
        <th>
            <img routerLink="/formulario" src="assets\Images\livros\estrategiasDePoker.jpg" alt="">
        </th>
    </tr>
    <tr>
        <th>
            <img routerLink="/formulario" src="assets\Images\livros\EstrategiasParaAprenderEstrategias.png" alt="">
        </th>
        <th>
            <img routerLink="/formulario"src="assets\Images\livros\jogoDeDamasAnalise.jpg" alt="">
        </th>
        <th>
            <img routerLink="/formulario"src="assets\Images\livros\5334problemsChess.jpeg" alt="">
        </th>
    </tr>
    <tr>
        <th>
            <img routerLink="/formulario" src="assets\Images\livros\manualDamas.jpg" alt="">
        </th>
        <th>
            <img routerLink="/formulario" src="assets\Images\livros\tictactome.jpg" alt="">
        </th>
        <th>
            <img routerLink="/formulario"src="assets\Images\livros\aArteDaEstrategia.jpeg" alt="">
        </th>
    </tr>
    
</table>